# This is a sample config file.
# Create from this template a config named:
#   production.cfg
#
# for your production settings.
#
# You don't need quotes for strings.
# Lines starting with # are comments and are ignored

[keys]
SECRET_KEY = my_precious
SECURITY_PASSWORD_SALT = my_precious_two

[mail]
MAIL_SERVER = smtp.gmail.com
MAIL_PORT = 465
MAIL_USE_TLS = False
MAIL_USE_SSL = True

# mail authentication
MAIL_USERNAME = youremail@gmail.com
MAIL_PASSWORD = your-gmail-password

# mail sender
MAIL_DEFAULT_SENDER = dev@example.org

[db]
# the database URL is specified as follows:
# dialect+driver://username:password@host:port/database
SQLALCHEMY_DATABASE_URI = sqlite://

[stripe]
STRIPE_SECRET_KEY = foo
STRIPE_PUBLISHABLE_KEY = bar
