{% extends "_base.html" %}

{% block content %}

<h1>Forgot Your Password?</h1>
<br />
<form class="form-signin" role="form" method="post" action="">
  {{ form.csrf_token }}
  {{ form.email(placeholder="email") }}
    <span class="error">
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Reset your password</button>
</form>
<ul>
<li>Back to <a href="/login">login</a></li>
<li>Need to <a href="/register">register</a>?</li>
</ul>
{% endblock %}